h1{
    color: white;
}

body{
    margin: 0;
    padding: 0;
}

/* Media query for 480px breakpoint */
@media (min-width: 480px) {
    h1 {
        color: rgb(226, 148, 148);
        background-color: #611919; /* Change color to red for 480px breakpoint */
    }

    .desc:before {
        content: "This browser window is smaller than 480px wide.";
      }
}
  
/* Media query for 768px breakpoint */
@media (min-width: 768px) {
    h1 {
        color: rgb(82, 185, 34);
        background-color: #0a360a; /* Change color to green for 768px breakpoint */
    }

    .desc:before {
        content: "This browser window is at least 748px wide!";
    }
}

/* Media query for 1024px breakpoint */
@media (min-width: 1024px) {
    h1 {
        color: rgb(169, 174, 243);
        background-color: #1010a4; /* Change color to blue for 1024px breakpoint */
    }

    .desc:before {
        content: "This browser window is at least 1024px wide!";
    }
}

@media (orientation: portrait) {
    .orientation:after {
      content: " Portrait.";
    }
  }
  
@media (orientation: landscape) {
.orientation:after {
    content: " Landscape.";
}
}

/*This is the Glitch.com Example CSS 

  
  CSS files add styling rules to your content
  
  body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  .desc {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 10px;
  }
  
  @media (max-width: 640px) {
    h1 {
      color: red;
    }
  
    .desc:before {
      content: "This browser window is smaller than 640px wide.";
    }
  }
  
  @media (min-width: 640px) {
    h1 {
      color: blue;
    }
  
    .desc:before {
      content: "This browser window is at least 640px wide!";
    }
  }
  
  @media (min-width: 500px) and (max-width: 600px) {
    h1 {
      color: fuchsia;
    }
  
    .desc:after {
      content: " In fact, it's between 500px and 600px wide.";
    }
  }
  
  @media (orientation: portrait) {
    .orientation:after {
      content: " Portrait.";
    }
  }
  
  @media (orientation: landscape) {
    .orientation:after {
      content: " Landscape.";
    }
  }  */