body{
    margin: 0;
    padding: 0;
}

svg{
    margin-top: -100px;
}

.Website-Title{
    position: absolute;
    left: 45%;
    top: 20px;
    color: white;
    font-size:50px;
}

.container{
    margin-top: -150px;
}

/* Update styles for the rows to center their content and add space between them */
.row1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Center the content horizontally */
    width: 80%;
}

/* Update styles for the rows to align content to the right and add space between them */
.row2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align content to the right */
    width: 80%;
}

.row1, .row2{
    margin-left: 10%;
}

/* Additional styles for the titles and paragraphs */
.row1 h1,
.row2 h1 {
    text-align: center; /* Center the titles horizontally */
    color: #ff6708;
    letter-spacing: 5px;
}

.row2 p{
    display: flex;
    text-align: right;
    margin-bottom: 100px;
}

.row1 p,
.row2 p {
    font-size: 16px; /* Adjust the paragraph font size as needed */
}

footer{
    height: 100px;
    width: 100%;
    background-color: #ff6708;
}

footer p {
    position: fixed;
    left:50%;
    top: 92%;
    color:#fff;
}